## Importing Libraries

In [7]:
import requests
import pandas as pd

### Python Function: `main_request(url, endpoint, page_number)`

In [8]:
url='https://rickandmortyapi.com/api/'
endpoint='character'
full_url = f'{url}{endpoint}'

## Checking Response

In [9]:
full_url

'https://rickandmortyapi.com/api/character'

In [10]:
data=r.json()

NameError: name 'r' is not defined

### Python Function: `main_request(url, endpoint, page_number)`

In [11]:
def main_request(url,endpoint,page_number):
    full_url = f'{url}{endpoint}?page={page_number}'
    r=requests.get(full_url)
    return r.json()

### Python Function: `get_pages`

In [12]:
def get_pages(response):
    return response['info']['pages']

### Python Function: `parse_json`

In [13]:

def parse_json(response):
    charlist=[]
    for item in response['results']:
        char={
            'status':item['status'],
            'location':item['location'],
            
            'id':item['id'],
        'name': item['name'],  
        'no of eps': len(item['episode'])}
        charlist.append(char)
        # name=data['results'][0]['name']
        # episode=data['results'][0]['episode']
    return charlist

## Python Code for Paginated API Requests

In [14]:
main_list=[]
data=main_request(url,endpoint,1)
for page_number in range(1,get_pages(data)+1):
    print(page_number)
    output=parse_json(main_request(url,endpoint,page_number))
    main_list.extend(output)

len(main_list)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42

826

In [15]:
pages=data['info']['pages']
name=data['results'][0]['name']
episode=data['results'][0]['episode']

## Creating a DataFrame and Saving to CSV

In [16]:
df=pd.DataFrame(main_list)
df.to_csv("rick and morty.csv")

## Checking df

In [17]:
df

,status,location,id,name,no of eps
0,Alive,"{'name': 'Citadel of Ricks', 'url': 'https://r...",1,Rick Sanchez,51
1,Alive,"{'name': 'Citadel of Ricks', 'url': 'https://r...",2,Morty Smith,51
2,Alive,"{'name': 'Earth (Replacement Dimension)', 'url...",3,Summer Smith,42
3,Alive,"{'name': 'Earth (Replacement Dimension)', 'url...",4,Beth Smith,42
4,Alive,"{'name': 'Earth (Replacement Dimension)', 'url...",5,Jerry Smith,39
...,...,...,...,...,...
821,unknown,"{'name': 'Earth (Unknown dimension)', 'url': '...",822,Young Jerry,1
822,unknown,"{'name': 'Earth (Unknown dimension)', 'url': '...",823,Young Beth,1
823,unknown,"{'name': 'Earth (Unknown dimension)', 'url': '...",824,Young Beth,1
824,unknown,"{'name': 'Earth (Unknown dimension)', 'url': '...",825,Young Jerry,1
825,Alive,"{'name': 'Earth (Replacement Dimension)', 'url...",826,Butter Robot,1